<div layout-padding layout="row">
	<div flex hide-sm></div>
	
	<div flex="66" flex-sm="100">
		
		<md-content layout-padding class="md-whiteframe-z1">
			<div layout="column">
				<div layout=row>
					<md-progress-linear md-mode="determinate" value="0"></md-progress-linear>
				</div>

				<div style="height: 200px;" layout="row" layout-align="center center">
					<md-progress-circular md-mode="indeterminate"></md-progress-circular>
				</div>
			
			</div>
		</md-content>
		
	
	</div>
	
	<div flex hide-sm></div>
</div>
