
<div style="background: grey;" class="md-whiteframe-z2">
	<div layout="row" layout-sm="column" layout-padding>
		<div>
            <img src="imgs/qStack.png">
		</div>
		<div flex hide-sm></div>
		
		<div layout="row" layout-align="end end">
			<div layout="row" layout-align="center center">
				<div>
					<md-button ng-click="goToSignIn(0)">
						Login
					</md-button>
				</div>
			</div>
		</div>
	</div>
</div>


<div layout="row" layout-wrap layout-padding>
		
		<div flex hide-sm></div>
		
		<div flex="66" flex-md="80" flex-sm="100">
			
			<md-content layout-padding class="md-whiteframe-z1">
				
				<div style="position: relative;">
					<h3 class="md-headline" style="text-align: center;">TOURNAMENTS</h3>
					
					<div style="position: absolute; top: -20px; right: 0px;">
						<md-button class="md-icon-button" ng-click="refresh()">
							<md-tooltip>
								Refresh
							</md-tooltip>
							<md-icon>refresh</md-icon>
						</md-button>
					</div>
				</div>
				
				<md-tabs md-dynamic-height md-border-bottom md-center-tabs md-selected="1">
				
				
					<md-tab label="Completed">
						<md-content>
							
							<md-list>
								<md-list-item ng-repeat="tournament in pastTournaments | orderBy:['-priority', '-stopTime']">
									<div layout="column" layout-fill>
										<div style="height: 10px;"></div>
										<div layout="row" layout-fill layout-padding style="background: #F0F0F0; border-radius: 10px;">
											
											<div layout="column">
												<div style="height: 20px;">
												</div>
												<div style="width: 100px; height:100px; border-radius: 50px; overflow: hidden; background: white;">
													<img ng-src="{{'https://' + tournament.prizes[0]['image']['image']}}" style="width: 100px; height: 100px; border-radius: 50px;">
												</div>
												<div style="text-align: center;" class="md-caption">
													{{tournament.prizes[0].name}}
												</div>
												<div style="height: 20px;">
												</div>
											</div>
										
											<div flex layout="column">
												<div>
													<h4 class="md-title" style="margin: 0px;">
														{{tournament.name}}
													</h4>
												</div>
												<div>
													<div>
														<span class="md-body-2">
															Entry Fee {{tournament.buyin}} Coins
														</span>
													</div>
												</div>
												
												<div style="height: 10px;"></div>
												
												<div>
													<div class="md-body-1">
														{{tournament.questions.num}} Questions 
													</div>
												</div>
												<div>
													<div class="md-body-1">
														{{tournament.questions.zone}} - {{tournament.questions.category}}
													</div>
												</div>
												
												<div style="height: 20px;"></div>
												
												<div>
													<div class="md-caption">
														Completed
													</div>
													<div layout="row">
														<div flex>
															{{tournament.pastText.numbers[0]}}
														</div>
														<div flex>
															
														</div>
														<div flex>
															
														</div>
													</div>
													<div layout="row" class="md-caption">
														<div flex>
															{{tournament.pastText.unit}} Ago
														</div>
														<div flex>
														
														</div>
														<div flex>
														
														</div>
													</div>
												
												</div>
											
											</div>
										
											<div flex="30">
												<div layout="column">
												
													<md-button class="md-raised" ng-click="fetchLeaderboard(tournament, $event)">Details</md-button>
													
												</div>
											</div>
										</div>
										<div style="height: 10px;"></div>
									</div>
								</md-list-item>
							</md-list>
						</md-content>
					</md-tab>
					
					<md-tab label="Active">
						<md-content>
							
							<md-list>
								<md-list-item ng-repeat="tournament in currentTournaments | orderBy:['-priority','stopTime']">
									<div layout="column" layout-fill>
										<div style="height: 10px;"></div>
										<div layout="row" layout-fill layout-padding style="background: #F0F0F0; border-radius: 10px;">
											
											<div layout="column">
												<div style="height: 20px;">
												</div>
												<div style="width: 100px; height:100px; border-radius: 50px; overflow: hidden; background: white;">
													<img ng-src="{{'https://' + tournament.prizes[0]['image']['image']}}" style="width: 100px; height: 100px; border-radius: 50px;">
												</div>
												<div style="text-align: center;" class="md-caption">
													{{tournament.prizes[0].name}}
												</div>
												<div style="height: 20px;">
												</div>
											</div>
										
											<div flex layout="column">
												<div>
													<h4 class="md-title" style="margin: 0px;">
														{{tournament.name}}
													</h4>
												</div>
												<div>
													<div>
														<span class="md-body-2">
															Entry Fee {{tournament.buyin}} Coins
														</span>
													</div>
												</div>
												
												<div style="height: 10px;"></div>
												
												<div>
													<div class="md-body-1">
														{{tournament.questions.num}} Questions 
													</div>
												</div>
												<div>
													<div class="md-body-1">
														{{tournament.questions.zone}} - {{tournament.questions.category}}
													</div>
												</div>
												
												<div style="height: 20px;"></div>
												
												<div>
													<div class="md-caption">
														Time Left to Enter
													</div>
													<div layout="row">
														<div flex>
															{{tournament.activeText[0]}}
														</div>
														<div flex>
															{{tournament.activeText[1]}}
														</div>
														<div flex>
															{{tournament.activeText[2]}}
														</div>
													</div>
													<div layout="row" class="md-caption">
														<div flex>
															Days
														</div>
														<div flex>
															Hours
														</div>
														<div flex>
															Minutes
														</div>
													</div>
												
												</div>
											
											</div>
										
											<div flex="30">
												<div layout="column">
													
													<md-button class="md-raised md-primary" ng-click="startTournament(tournament.uuid, 0)"><h3 class="md-headline">Play</h3></md-button>
												
													<md-button class="md-raised" ng-click="fetchLeaderboard(tournament, $event)">Details</md-button>

												</div>
											</div>
										</div>
										<div style="height: 10px;"></div>
									</div>
								</md-list-item>
							</md-list>
						</md-content>
					</md-tab>
					
					<md-tab label="Upcoming">
						<md-content>
							
							<md-list>
								<md-list-item ng-repeat="tournament in futureTournaments | orderBy:['-priority','startTime']">
									<div layout="column" layout-fill>
										<div style="height: 10px;"></div>
										<div layout="row" layout-fill layout-padding style="background: #F0F0F0; border-radius: 10px;">
											
											<div layout="column">
												<div style="height: 20px;">
												</div>
												<div style="width: 100px; height:100px; border-radius: 50px; overflow: hidden; background: white;">
													<img ng-src="{{'https://' + tournament.prizes[0]['image']['image']}}" style="width: 100px; height: 100px border-radius: 50px;">
												</div>
												<div style="text-align: center;" class="md-caption">
													{{tournament.prizes[0].name}}
												</div>
												<div style="height: 20px;">
												</div>
											</div>
										
											<div flex layout="column">
												<div>
													<h4 class="md-title" style="margin: 0px;">
														{{tournament.name}}
													</h4>
												</div>
												<div>
													<div>
														<span class="md-body-2">
															Entry Fee {{tournament.buyin}} Coins
														</span>
													</div>
												</div>
												
												<div style="height: 10px;"></div>
												
												<div>
													<div class="md-body-1">
														{{tournament.questions.num}} Questions 
													</div>
												</div>
												<div>
													<div class="md-body-1">
														{{tournament.questions.zone}} - {{tournament.questions.category}}
													</div>
												</div>
												
												<div style="height: 20px;"></div>
												
												<div>
													<div class="md-caption">
														
													</div>
													<div layout="row">
														<div flex>
															{{tournament.futureText.numbers[0]}}
														</div>
														<div flex>
															{{tournament.futureText.numbers[1]}}
														</div>
														<div flex>
				
														</div>
													</div>
													<div layout="row" class="md-caption">
														<div flex>
															{{tournament.futureText.unit}} Until Start
														</div>
														<div flex>
															Duration (hrs)
														</div>
														<div flex>
															
														</div>
													</div>
												
												</div>
											
											</div>
										
											<div flex="30">
												<div layout="column">
												
													<md-button class="md-raised" ng-click="fetchLeaderboard(tournament, $event)">Details</md-button>
													
												</div>
											</div>
										</div>
										<div style="height: 10px;"></div>
									</div>
								</md-list-item>
							</md-list>
						</md-content>
					</md-tab>
					
					
					
				</md-tabs>
				
			</md-content>
			
		</div>
		
		<div flex hide-sm></div>

</div>



